@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Red+Hat+Display:wght@400;500;700;900&display=swap');
html {
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    background-image: linear-gradient(to right, #000000, #141110, #201c19, #2a2721, #31342b);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 17px;
    scroll-behavior: smooth;
}

#img-about {
    object-fit: scale-down;
}

.navbar {
    background-color: transparent;
    opacity: 0.9;
    -webkit-box-shadow: 0px 8px 12px -2px #000000;
    box-shadow: 0px 8px 12px -2px #000000;
}

.close-icon {
    color: #E4001F;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: 0;
}

.navbar-toggler.collapsed .close-icon {
    display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
}

.navbar.scrolled {
    background: rgb(107, 136, 254);
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-brand {
    font-family: 'Caveat', cursive;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

#hat {
    width: 3rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(228,0,31)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

button:focus {
    outline: none;
}

.navbar-nav .nav-link img {
    height: 3rem;
    display: none;
}

.navbar-nav .nav-link:hover img {
    display: inline-block;
    margin: 0 0.5rem;
    animation: fadeInUp;
    animation-duration: 2s;
}

.navbar-nav li a {
    color: #ffffff !important;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Caveat', cursive;
}

.navbar-nav li a:hover {
    color: #B7F817 !important;
    transition: 0.7s;
}

.hero {
    position: relative;
}

.jumbotron {
    position: absolute;
    top: 3rem;
    padding: 0.8rem 1rem;
    margin: 1rem;
    border-radius: 1.2rem;
    background: rgba(238, 227, 227, 0.8);
    opacity: 0.8;
    justify-content: center;
}

.display-4 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.main_p {
    font-size: 15px;
    font-weight: 400;
    color: #000000;
}

.hero .hero-img {
    background-size: cover;
    width: 100%;
    min-height: 18rem;
    max-height: 44rem;
}

.ytube {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 40%;
    border: none;
}

/* Diagonal box-1 */

.diagonal-box {
    background-color: #E4001F;
    height: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    transform: skewY(-11deg);
    -webkit-box-shadow: 0px 2px 11px -1px rgba(235, 228, 235, 1);
    -moz-box-shadow: 0px 2px 11px -1px rgba(235, 228, 235, 1);
    box-shadow: 0px 2px 11px -1px rgba(235, 228, 235, 1);
     background-image: url("../images/wall.png");
}

.diagonal-box-2 {
    background-color: #E4001F;
    height: 6rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    transform: skewY(-11deg);
    -webkit-box-shadow: 0px 2px 11px -1px rgba(235, 228, 235, 1);
    -moz-box-shadow: 0px 2px 11px -1px rgba(235, 228, 235, 1);
    box-shadow: 0px 2px 11px -1px rgba(235, 228, 235, 1);
     background-image: url("../images/wall.png");
}

.diagonal-box-3 {
    background-color: #E4001F;
    height: 6rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    transform: skewY(-11deg);
    -webkit-box-shadow: 0px 2px 11px -1px rgba(235, 228, 235, 1);
    -moz-box-shadow: 0px 2px 11px -1px rgba(235, 228, 235, 1);
    box-shadow: 0px 2px 11px -1px rgba(235, 228, 235, 1);
     background-image: url("../images/wall.png");
}

.vgames {
    width: 100%;
    margin: 0 auto;
    transform: skewY(11deg);
}

iframe {
    border-radius: 2rem;
}

#bullet {
    width: 4.5rem;
    float: right;
    margin-top: -5rem;
}

.brand {
    width: 3rem;
    float: right;
    margin-top: -6rem;
}

h2 {
    transform: skewY(-11deg);
    color: #ffffff;
    font-weight: 500;
    margin-top: 1rem;
}

.rounded {
    width: 6rem;
    opacity: 0.7;
}

/* Carousel */

.carousel img {
    border-radius: 30px;
    height: 13rem;
    border: 2px solid black;
}

p {
    text-align: left;
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff;
}

.btn {
    background-color: #E4001F;
    font-weight: bold;
}

/* Diagonal box-2 */

#mario {
    width: 55px;
    float: right;
    margin-top: -60px;
    margin-right: 3rem;
}

#mushroom {
    width: 25px;
    float: right;
    margin-top: -30px;
    margin-right: 1.8rem;
}

/* Product */

.card {
    -webkit-box-shadow: 4px 7px 11px -4px rgba(235, 228, 235, 1);
    -moz-box-shadow: 4px 7px 11px -4px rgba(235, 228, 235, 1);
    box-shadow: 4px 7px 11px -4px rgba(235, 228, 235, 1);
}

.card-img-top, .card {
    border-radius: 30px;
}

.product-column {
    padding: 3% 2%;
}

/* Form */

form {
    background-image: url("../images/img_5.jpg");
    background-size: cover;
}

label {
    margin-top: 1rem;
    color: cornsilk;
    font-weight: bold;
}

#btn-form {
    width: 6rem;
    margin-bottom: 3rem;
}

.fa-envelope-square, .fa-comment-dots, .fa-user {
    color: #E4001F;
}

.formbg {
    background-image: linear-gradient(to right, #000000, #141110, #201c19, #2a2721, #31342b);
}

/* Footer  */

footer {
    background-color: #AEAEB5;
}

.fa-facebook, .fa-instagram, .fa-twitter, .fa-linkedin, .fa-youtube {
    color: #E4001F;
}

@media (min-width: 640px) {
    .product-column {
        padding: 2rem;
    }
    .jumbotron {
        top: 98px;
        right: -210px;
        padding: 1rem 1rem;
        margin: 16rem;
    }
    .container {
        margin-top: 5rem;
    }
    .carousel {
        top: -3rem;
    }
    .brand {
        margin-top: -7.7rem;
    }
    .product {
        float: right;
    }
    .diagonal-box-2 {
        margin-bottom: 6rem;
    }
    #bullet {
        margin-top: -7rem;
    }
    #mario {
        margin-top: -6rem;
    }
    #mushroom {
        margin-top: -4.5rem;
    }
}

@media (min-width: 768px) {
    .display-4 {
        margin-top: -3rem;
    }
    .videog {
        height: 50vh;
    }
    .p-frame {
        margin-top: -5rem;
    }
    .embed-responsive {
        width: 50%;
        margin-bottom: 5rem;
    }
    iframe {
        margin-bottom: 5rem;
    }
    .diagonal-box-2 {
        margin-top: -6rem;
    }
    .fa-facebook, .fa-instagram, .fa-twitter, .fa-linkedin, .fa-youtube {
        font-size: 30px;
    }
    #mario {
        margin-top: -6.25rem;
        margin-left: 43rem;
        position: absolute;
    }
    #mushroom {
        margin-top: -4.375rem;
        margin-left: 46rem;
        position: absolute;
    }
}

@media (min-width: 1024px) {
    .jumbotron {
        margin: 8.5rem;
        right: -90px;
        padding: 0.1rem;
        width: 40%;
    }
    .display-4 {
        margin-top: -3rem;
    }
    .diagonal-box {
        margin-top: 11rem;
        margin-bottom: 8rem;
    }
    .diagonal-box-2 {
        margin-top: -12rem;
        margin-bottom: 8rem;
    }
    #bullet {
        margin-top: -9.5rem;
    }
    .brand {
        margin-top: -10rem;
    }
    #mario {
        margin-top: -8.5rem;
        margin-left: 58rem;
        position: absolute;
    }
    #mushroom {
        margin-top: -7rem;
        margin-left: 61rem;
        position: absolute;
    }
    h2 {
        margin-left: 1rem;
    }
    .carousel {
        margin-left: 1rem;
        width: 25rem;
    }
    .embed-responsive {
        width: 100%;
        margin-bottom: 15rem;
        margin-top: 13rem;
        overflow: visible;
        margin-left: 6rem;
        margin-bottom: 5rem;
    }
    .p-frame {
        margin-left: 8rem;
        margin-top: 1rem;
    }
    .videog {
        margin-left: -12rem;
        height: 50vh;
        margin-top: 6rem;
    }
    .p-game {
        margin-top: 4rem;
    }
    iframe {
        margin-top: -12rem;
        margin-bottom: 16rem;
    }
}

@media (min-width: 1280px) {
    .display-4 {
        margin-top: -3rem;
    }
    .jumbotron {
        padding: 0.1rem;
        width: 40%;
    }
    .diagonal-box {
        margin-top: 12rem;
    }
    #bullet {
        margin-top: -11rem;
    }
    iframe {
        margin-top: 2rem;
    }
    #btn-desc {
        margin-bottom: 5rem;
    }
    #mario {
        margin-top: -10rem;
        margin-left: 74rem;
        position: absolute;
    }
    #mushroom {
        margin-top: -8.5rem;
        margin-left: 77rem;
        position: absolute;
    }
    .brand {
        margin-top: -11rem;
    }
    .card {
        margin: 8rem;
        width: 21rem;
        margin-top: 20rem;
    }
    .product-column {
        padding: 3% 2%;
    }
    #row {
        margin-top: -280px;
    }
    form {
        padding: 6rem;
    }
    .embed-responsive {
        margin-bottom: 15rem;
        margin-top: 2rem;
        margin-left: -2rem;
        margin-bottom: 18rem;
    }
    .p-frame {
        margin-left: -2rem;
        margin-top: 2rem;
    }
}

@media (min-width: 1366px) {
    #mario {
        margin-top: -11rem;
        margin-left: 80rem;
        position: absolute;
    }
    #mushroom {
        margin-top: -9.5rem;
        margin-left: 83rem;
        position: absolute;
    }
    #bullet {
        margin-top: -12rem;
    }
    .brand {
        margin-top: -12rem;
    }
}

@media (min-width: 1600px) {
    #mario {
        margin-top: -12rem;
        margin-left: 94rem;
    }
    #mushroom {
        margin-top: -10.7rem;
        margin-left: 97rem;
    }
    #bullet {
        margin-top: -12.5rem;
    }
    .brand {
        margin-top: -13rem;
    }
}

@media (min-width: 1700px) {
    #bullet {
        margin-top: -13.5rem;
    }
    #mario {
        margin-top: -13.125rem;
        margin-left: 101rem;
    }
    #mushroom {
        margin-top: -11.5rem;
        margin-left: 104rem;
    }
    .brand {
        margin-top: -14rem;
    }
}

@media (min-width: 1800px) {
    #mario {
        margin-top: -14rem;
        margin-left: 113rem;
    }
    #mushroom {
        margin-top: -12.5rem;
        margin-left: 116rem;
    }
    .brand {
        margin-top: -15rem;
    }
}