html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
}

.navbar {
    background-color: #AEAEB5;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(228,0,31)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

button:focus {
    outline: none;
}

.fa-gamepad {
    color: #E4001F;
    font-size: 30px;
}

.navbar-nav li a {
    color: #E4001F !important;
    font-weight: bold;
}

.hero {
    position: relative;
}

.jumbotron {
    position: absolute;
    top: 10px;
    padding: 1rem 1rem;
    margin: 1rem;
    border-radius: 1.2rem;
    background: rgba(238, 227, 227, 0.8);
}

.display-4 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.lead {
    font-size: 15px;
}

.hero .hero-img {
    background-size: cover;
    width: 100%;
}

/* Diagonal box-1 */

.diagonal-box {
    background-color: #E4001F;
    height: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    transform: skewY(-11deg);
}

.vgames {
    width: 100%;
    margin: 0 auto;
    transform: skewY(11deg);
}

#bullet {
    width: 65px;
    float: right;
    margin-top: -60px;
}

h2 {
    transform: skewY(-11deg);
    color: white;
    font-weight: bold;
}

/* Carousel */

.carousel {
    margin-top: 2rem;
}

.carousel img {
    border-radius: 30px;
    height: 13rem;
    border: 2px solid black;
}

p {
    text-align: left;
}

.btn {
    background-color: #E4001F;
    font-weight: bold;
}

.vgames-info {
    text-align: center;
}

/* Diagonal box-2 */

#mario {
    width: 55px;
    float: right;
    margin-top: -60px;
    margin-right: 3rem;
}

#mushroom {
    width: 25px;
    float: right;
    margin-top: -30px;
    margin-right: 1.8rem;
}

.description {
    text-align: center;
}

hr {
    border: 1px solid black;
}

/* Product */

.product {
    text-align: center;
}

#merchandising {
    width: 100%;
}

/* Form */

.form-img {
    background-image: url("/assets/images/img_5.jpg");
    background-size: cover;
}

label {
    margin-top: 1rem;
    color: cornsilk;
    font-weight: bold;
}

#btn-form {
    width: 6rem;
}