@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Red+Hat+Display:wght@400;500;700;900&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 16px;
    scroll-behavior: smooth;
}

.navbar {
    background-color: transparent;
    opacity: 0.9;
    -webkit-box-shadow: 0px 8px 12px -2px #000000;
    box-shadow: 0px 8px 12px -2px #000000;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-brand {
    font-family: 'Caveat', cursive;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
   
}

#hat {
    width: 3rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(228,0,31)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

button:focus {
    outline: none;
}

.navbar-nav li a {
    color: #000000 !important;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Caveat', cursive;
}

.navbar-nav li a:hover {
    color: #B7F817 !important;
    transition: 0.7s;
}

.hero {
    position: relative;
}

.jumbotron {
    position: absolute;
    top: 3rem;
    padding: 0.8rem 1rem;
    margin: 1rem;
    border-radius: 1.2rem;
    background: rgba(238, 227, 227, 0.8);
    opacity: 0.8;
    justify-content: center;
}

.display-4 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.main_p {
    font-size: 15px;
    font-weight: 400;
}

.hero .hero-img {
    background-size: cover;
    width: 100%;
    min-height: 18rem;
    max-height: 44rem;
}

/* Diagonal box-1 */

.diagonal-box {
    background-color: #E4001F;
    height: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    transform: skewY(-11deg);
}

.diagonal-box-2 {
    background-color: #E4001F;
    height: 6rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    transform: skewY(-11deg);
}

.diagonal-box-3 {
    background-color: #E4001F;
    height: 6rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    transform: skewY(-11deg);
}

.vgames {
    width: 100%;
    margin: 0 auto;
    transform: skewY(11deg);
}

#bullet {
    width: 65px;
    float: right;
    margin-top: -60px;
}

.brand {
     width: 45px;
    float: right;
    margin-top: -65px;
}

h2 {
    transform: skewY(-11deg);
    color: #ffffff;
    font-weight: 500;
}

.rounded {
    width: 6rem;
    opacity: 0.7;
}

/* Carousel */

.carousel {
    margin-top: 2rem;
}

.carousel img {
    border-radius: 30px;
    height: 13rem;
    border: 2px solid black;
}

   .youtube {
    overflow: hidden;
    position: relative;
    width:100%;
    margin-top: 3rem;
   }

    .youtube iframe {
       border-radius: 2rem;
       width: 100%;
   }


p {
    text-align: left;
    font-weight: 500;
    font-size: 1rem;
}

#mario-des {
    clear: both;
}

.btn {
    background-color: #E4001F;
    font-weight: bold;
}

.vgames-info {
    text-align: center;
}

/* Diagonal box-2 */

#mario {
    width: 55px;
    float: right;
    margin-top: -60px;
    margin-right: 3rem;
}

#mushroom {
    width: 25px;
    float: right;
    margin-top: -30px;
    margin-right: 1.8rem;
}

.description {
    text-align: center;
}

.youtube {
    overflow: hidden;
    position: relative;
    width:100%;
    margin-top: 3rem;
   }

/* Product */

.card {
    -webkit-box-shadow: 5px 6px 5px -1px rgba(0, 0, 0, 0.95);
    box-shadow: 5px 6px 5px -1px rgba(0, 0, 0, 0.95);
}

.card-img-top, .card {
    border-radius: 30px;
}

.product-column {
    padding: 3% 2%;
}

/* Form */

form {
    background-image: url("../images/img_5.jpg");
    background-size: cover;
}

label {
    margin-top: 1rem;
    color: cornsilk;
    font-weight: bold;
}

#btn-form {
    width: 6rem;
    margin-bottom: 3rem;
}

.fa-envelope-square, .fa-comment-dots, .fa-user {
    color: #E4001F;
}

.formbg {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(129, 129, 129, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(46, 42, 42, 1) 100%);
}

/* Footer  */

footer {
    background-color: #AEAEB5;
}

.fa-facebook, .fa-instagram, .fa-twitter, .fa-linkedin, .fa-youtube {
    color: #E4001F;
}

/* Media Queries */

@media (max-width: 470px) {
    p {
        font-size: 15px;
    }
    .fa-gamepad {
        font-size: 25px;
    }
    .navbar-brand {
        font-size: 1.6rem;
    }
    #hat {
        width: 1.8rem;
    }
 
  .navbar-collapse {
      background: rgba(170, 54, 54, 0.8);
      border-radius: 2rem;
  }
  .description {
      margin-bottom: 2rem;
  }
  .youtube iframe {
      height: 12rem;
  }
}

@media (min-width: 470px) {
    .diagonal-box {
        margin-top: 6rem;
    }
    .diagonal-box-2 {
        margin-top: 19rem;
    }
    #bullet {
        margin-top: -90px;
    }
      .description {
      margin-bottom: 2rem;
  }
    .youtube iframe {
      height: 12rem;
  }
}

@media (min-width: 640px) {
    .product-column {
        padding: 2rem;
    }
    .jumbotron {
        top: 98px;
        right: -210px;
        padding: 1rem 1rem;
        margin: 16rem;
    }
    .container {
        margin-top: 5rem;
    }
    .carousel {
        float: right;
        top: -30px;
    }
    #v-par {
        margin-top: 50px;
    }
    .carousel img {
        margin: auto;
    }
    #mario {
        margin-top: -80px;
        margin-right: -18rem;
    }
    .brand {
     margin-top: -105px;
    }
    #brand  {
         margin-top: -80px;
        margin-right: -18rem;
    }
    #mushroom {
        margin-top: -50px;
        margin-right: -18.8rem;
    }
    .description {
        margin-top: 2rem;
    }
    .product {
        float: right;
    }
    .diagonal-box-2 {
        margin-bottom: 6rem;
    }
}

@media (min-width: 768px) {
    .display-4 {
        margin-top: -3rem;
    }
    .carousel {
        float: right;
        top: -5rem;
        margin-top: 14rem;
    }
    .diagonal-box-2 {
        margin-top: -6rem;
    }
    .fa-facebook, .fa-instagram, .fa-twitter, .fa-linkedin, .fa-youtube {
        font-size: 30px;
    }
    #cont-video {
        margin-top: -10rem;
    }
    #mario {
        margin-top: -6.25rem;
        margin-left: 42rem;
        position: absolute;
    }
    #mushroom {
        margin-top: -4.375rem;
        margin-left: 45rem;
        position: absolute;
    }
    .youtube {
    overflow: hidden;
    position: relative;
    width:100%;
    margin-top: -6rem;
   } 
    .youtube iframe {
       border-radius: 2rem;
       width: 100%;
       margin-bottom: 5rem;
       height: 12rem;
   } 
   .video-games {
       margin-top: -5rem;
   }
   .vgsection {
       margin-top: 2rem;
   }
}

@media (min-width: 940px) {
    .jumbotron {
        margin: 8.5rem;
        right: -90px;
        padding: 0.1rem;
        width: 40%;
    }
    .display-4 {
        margin-top: -3rem;
    }
    .diagonal-box {
        margin-top: 8rem;
        margin-bottom: 8rem;
        -webkit-box-shadow: 0px 8px 12px -2px #000000;
        box-shadow: 0px 8px 12px -2px #000000;
    }
    .diagonal-box-2 {
        margin-top: -12rem;
        margin-bottom: 8rem;
        -webkit-box-shadow: 0px 8px 12px -2px #000000;
        box-shadow: 0px 8px 12px -2px #000000;
    }
    #cont-video {
        margin-top: -18rem;
    }
    #bullet {
        margin-top: -7.5rem;
    }
     .brand {
     margin-top: -8.4375rem;
    }
    
    .description {
        margin-left: 10rem;
    }
    #mario {
        margin-top: -7.5rem;
        margin-left: 57rem;
        position: absolute;
    }
    #mushroom {
        margin-top: -5.625rem;
        margin-left: 60rem;
        position: absolute;
    }
     .description {
      margin-bottom: 5rem;
  }
  .youtube {
      margin-bottom: 1rem;
      margin-top: -40rem;
     margin-bottom: -8rem;
  }
   .youtube iframe {
      height: 20rem;
  }
  .video-games {
      margin-bottom: 15rem;
  }
  .vgsection {
      margin-top: 15rem;
      margin-right: 50rem;
  }
  h2 {
      margin-right: 8.125rem;
      
  }

  #v-par {
      margin-left: -5rem;
  }
  .carousel {
        float: right;
        top: -18rem;
    }
    .carousel img {
        height: 18rem;
    }
 
}

@media (min-width: 1280px) {
    .display-4 {
        margin-top: -3rem;
    }
    .main_p {
        padding: -3rem;
    }
    .jumbotron {
        padding: 0.1rem;
        width: 40%;
    }
    .diagonal-box {
        margin-top: 8rem;
    }
    #bullet {
        margin-top: -10rem;
    }
    .description {
        margin-top: -7rem;
        padding: 8rem;
        margin-left: 16rem;
    }

    .youtube {
        margin-bottom: 8rem;
        margin-top: -42rem;
    }

      .youtube iframe {
      height: 25rem;
     }

      #v-par {
      margin-right: 3rem;
  }
    
    .carousel {
        margin-bottom: 5rem;
    }
    .vgsection {
        margin-top: 10rem;
    }
    #btn-desc {
        margin-bottom: 5rem;
    }
    #mario {
        margin-top: -8.125rem;
        margin-left: 72rem;
        position: absolute;
    }
    #mushroom {
        margin-top: -6.25rem;
        margin-left: 75rem;
        position: absolute;
    }
    .brand {
     margin-top: -9.6875rem;
    }
    
    #cont-video {
        margin-top: -18rem;
    }
    .card {
        margin: 8rem;
        width: 21rem;
        margin-top: 20rem;
    }
    .product-column {
        padding: 3% 2%;
    }
    #row {
        margin-top: -280px;
    }
    form {
        padding: 6rem;
    }
}

@media (min-width: 1440px) {
    #mario {
        margin-top: -9.375rem;
        margin-left: 82rem;
        position: absolute;
    }
    #mushroom {
        margin-top: -7.5rem;
        margin-left: 85rem;
        position: absolute;
    }
    .diagonal-box {
        margin-top: 9rem;
    }
     .brand {
     margin-top: -168px;
    }
}

@media (min-width: 1640px) {
    .diagonal-box {
        margin-top: 15rem;
    }
    #bullet {
        margin-top: -12.5rem;
    }
    #mario {
        margin-top: -11.5625rem;
        margin-left: 97rem;
    }
    #mushroom {
        margin-top: -9.8125rem;
        margin-left: 100rem;
    }
    .description {
        margin-top: -1rem;
        margin-left: 23rem;
    }
     .brand {
     margin-top: -12.1875rem;
    }
}

@media (min-width: 1800px) {
    #mario {
        margin-top: -11.5625rem;
        margin-left: 112rem;
    }
    #mushroom {
        margin-top: -10rem;
        margin-left: 115rem;
    }
    .diagonal-box {
        margin-top: 11.5rem;
    }
     .brand {
     margin-top: -13.5rem;
    }
     #v-par {
      margin-right: 8rem;
  }
}